<style>

  @keyframes jumbotron {
    0% {background-position: 0px 0px, 54.50vw 0px, 109vw 0px, 153.5vw 0px;}
    15% {background-position: 0px -100px, 54.5vw -100px, 109vw -100px, 153.5vw -100px;}
    23% {background-position: -54.5vw -100px, 0px -100px, 54.5vw -100px, 109vw -100px;}
    51% {background-position: -54.5vw 0px, 0px 0px, 54.5vw 0px, 109vw 0px;}
    56% {background-position: -109vw 0px, -54.5vw 0px, 0px 0px, 54.5vw 0px;}
    81% {background-position: -109vw -100px, -54.5vw -100px, 0px -100px, 54.5vw -100px;}
    86% {background-position: -153.5vw -100px, -109vw -100px, -54.5vw -100px, 0px -100px;}
    100% {background-position: -153.5vw 0px, -109vw 0px, -54.5vw 0px, 0px 0px;}
  }
  .jumbotron-container {
    width: 100%;
    margin-bottom: 25px;
  }
  .img-overlay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYGD4z4AMAA4EAQAvGW0PAAAAAElFTkSuQmCC) repeat;
    height: 200px;
    width: 54.5vw;
    float: left;
  }
  .img-overlay span {
    margin-left: 30px;
    font-size: 20px;
    color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
  }
  .img-overlay span:first-child {
    display: block;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 90px;
    font-weight: 800;
    font-style: normal;
  }
  .images {
    width: 54.5vw;
    height: 200px;
    background-color: #000;
    background-image: url(../images/download.jpg), url(../images/photo-2.jpg), url(../images/photo-3.jpg), url(../images/download.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px, 54.5vw 0px, 109vw 0px, 153.5vw 0px;
    background-size: 54.5vw;
    animation: jumbotron 50s infinite;
  }
</style>
<div class="jumbotron-container">
  <figure class="img-overlay"><span>Gigantous Potato</span><span>Circa 1903</span></figure>
  <figure class="images"></figure>
</div>